.input {
    height: 75px;
    border-radius: 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #232323f1;
    color: white;
    padding: 11px;
    padding-right: 11px 30px 11px 11px;
    margin: 1px solid #888;


}